@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Open+Sans&display=swap');
:root {
    --Harmattan: 'Harmattan';
    --open-sans: 'Open-Sans';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
